.container{
    
    margin: 10px;
    display: flex;
    justify-content: center;
 
    
}
.clock{
    size: 100px;
    width: 57px;
    margin: 11px;
}
    
    .navbar-brand {
        padding-top: var(--bs-navbar-brand-padding-y);
        padding-bottom: var(--bs-navbar-brand-padding-y);
        margin-right: var(--bs-navbar-brand-margin-end);
        font-size: var(--bs-navbar-brand-font-size);
        color: var(--bs-navbar-brand-color);
        text-decoration: none;
        white-space: nowrap;
        font-size: 24px;
        color: white;
    }
  


    .card-body{
        background-color: #c4ced1;
        size: 132px;
        height: 183px;
        width: 342px;
        margin-top: 80px;
        position: fixed;
    }

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: white;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

    .container-fluid{
    background-color: black;
    height: 70px;
    width: 100%;
    position: fixed; 
    top: 0;
    }


    .bd-navbar {
        padding: .75rem 0;
        background-color: transparent;
       
      }

      .msg-button {
    display: block;
    width: 167px;
    height: 36px;
    padding: .375rem .75rem;
     
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: #1e2855;
    background-clip: padding-box;
    border: var(--bs-border-width) solid #242f3b;
    border-radius: var(--bs-border-radius);
    color: white;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .msg-button:hover{
        background-color: rgb(81, 81, 175);
    }

    .btn btn-primary{
    background-color: rgb(57, 57, 128);

    
        }